h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: rgb(155, 174, 197);
}

h3 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-weight: bold;
}

/* body { background: url(img/bg.jpg);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(155, 174, 197);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
} */






#ping {
    margin: auto;
    

}

#logout {
    position: absolute;
    top: 15%;
    right: 5%;
}

.list-group {
    background-color:black;
    color: rgb(155, 174, 197);
    font-weight: bold;
  }

  /* #pageloader
  {
    background: rgba( 255, 255, 255, 0.8 );
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
  } */
  
  #pageloader img
  {
    left: 10%;
    margin-left: -12px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
  }

/* #ping { */
    /* The image used */

  
    /* Full height */
    /* height: 100%; */
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  /* } */



  body {
    /* background-image: url('https://i.imgur.com/xhiRfL6.jpg'); */
    background-image: url('/static/img/map.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 70px;



    background-size: cover;
    color:rgb(17, 201, 17);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}

#profile-img {
    height:180px;
}
.h-80 {
    height: 80% !important;
}



#reports {
    opacity: 0.9;
    margin: auto;

}

.table {
    color:rgb(17, 201, 17);

    border-radius: 25px;
}

.navbar{
    color: green;
    opacity: 0.9;
    
}

.nav-link{
    color: green !important;
    font-weight: bold;
}


#contact {
    display: inline-block;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.9;

    line-height:20px;
}
#footer-reports {
    opacity: 0.9;
}

/* NAVBAR */



