{% extends 'base.html' %}
{% block title %}Hacker Toolkit{% endblock %}

{% block body %}
  <title>Dashboard</title>
  <div class="container"></div>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark ">
    <a class="navbar-brand" href="#"><img src="/static/img/mask.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link border border-secondary rounded" id='navigation' href="/reports">Reports <span class="sr-only">(current)</span></a>
        </li>

          <li class="nav-item active">
              <a class="nav-link " >Logged in as {{session['user']}} <span class="sr-only">(current)</span></a>
            </li>

  
        <form action='/logout'>
          <li class="nav-item active">
              <button class="nav-link border border-secondary rounded btn  btm btm-primary" >Logout <span class="sr-only">(current)</span></button>
            </li>
            </form>

      </ul>


    
       

    </div>
    <div id="btc"></div>
  </nav>
</div>






    <h1>Dashboard</h1>
    <div id="flash_msg" hidden>
      <p>report saved!</p>
      <!-- {% with messages = get_flashed_messages() %} 
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
      
      {% endwith %} -->
    </div>
    <div id="scanning" hidden>
      <p>scanning...</p>
      <!-- {% with messages = get_flashed_messages() %} 
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
      
      {% endwith %} -->
    </div>
    <div id="pageloader" hidden>
      <img src="static/img/loader.gif" alt="processing..." /> 
      <!-- http://www.ajaxload.info/ -->
   </div>



      <form id="url_form">
        <label form="url">Enter URL to scan for XSS:</label>
        <input type="text" id="url" name="url" placeholder="URL to scan for XSS"><br><br>
        <button class="btn btn-outline-success my-4 my-sm-0 btm btm-primary" type="submit" id="scan">Scan</button>
        <button class="btn btn-outline-success my-4 my-sm-0 btm btm-primary"id="save_report"  type="submit" formaction="/save_report">Save Report</button>

        <!-- <input type="submit" value="Save Report" formaction="/reports"> -->
      </form>



      <!-- <form id="xss">
        URL: <input type="text" name="url">
      </form> -->
    


      


    <!-- <div>
      <input type="text" id="input1" />
      <button onclick="myJsFunction()"></button>
      <script type="text/javascript">
      function myJsFunction(){
          var text=document.getElementById('input1').value;
      }
      </script>
    </div> -->

    <!-- <div id='xss'> -->

      
  <div class="w-50 panel panel-default justify-content-center"" id='xss'>
    <table id="table" class="table table-dark" style="display:none">
      <tr><th>URL</th><td id="vuln_url">None</td></tr>
      <tr><th>Is Vulnerable</th><td id="is_vulnerable">None</td></tr>
      <tr><th>Successful Payload</th><td id="exploit">None</td></tr>
      <tr><th>Vulnerable Field Name Tag</th><td id="vuln_field">None</td></tr>
      <tr><th>Vulnerable Form Type</th><td id="vuln_form_type">None</td></tr>
      <tr><th>Method</th><td id="method">Get</td></tr>

      <!-- <tr><th>filed name</th><td id="field_name">data</td></tr> -->

  </table>
  </div>

  <div class=" w-25 table table-dark panel panel-default justify-content-center text-center" id="notvuln" style="display:none">
    <table id="table" >
      <tr><th>Not Vulnerable to Cross Site Scripting</th></tr>
  
  </table>
  </div>



  

  <!-- </div> -->

  <div class="align-baseline w-20 panel panel-default justify-content-center float-right " id='ping'>
    <table id=" table table-curved ping_table" class="table table-dark">
      <thead>
      <tr>
          <th scope="col">Time</th>
          <th scope="col">IP</th>
      </tr>
    </thead>
    <tbody id="table_body">
    </tbody>
  </table>
  </div>
</span>


<div class="align-baseline w-20 panel panel-default justify-content-center float-left " id='urlcode'>
<form onsubmit="return false">
<label>URL Encode and Decode:</label>

<select name="urlcode" id="choice">
  <option value="encode">Encode URL</option>
  <option value="decode">Decode URL</option>
</select>

<textarea placeholder="Type or paste here.." name="urlcodec_textarea" id="urlcodec_textarea"></textarea>
<button onclick="urlcodec()" class="btn btn-outline-success my-4 my-sm-0 btm btm-primary" id="urlcode_button" >Submit</button>
<textarea name="urlcode_output" id="urlcode_output"></textarea>
</form>
</div>


  <div id='root'>
    
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue bg-dark" id='footer'>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 display: inline-block">© 2020 Copyright:
      <a href="https://github.com/pressstart101"> kali null</a>




    <form class=" my-2 my-lg-0" method="GET" action="mailto:gitnull@protonmail.com" id="contact">
        <button class="btn btn-outline-success my-2 my-sm-0 btm btm-primary  method="GET" type="submit">Contact</button>
    </form>


      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  {% endblock %}


  