{% extends 'base.html' %}
{% block title %}Hackers Toolkit{% endblock %}

{% block body %}
  <title>Dashboard</title>



    <h1>Dashboard</h1>

    <div id="pageloader" hidden>
      <img src="static/img/loader.gif" alt="processing..." /> 
      <!-- http://www.ajaxload.info/ -->
   </div>
   <h3>Logged in as {{session['user']}}</h3>
      <form id="url_form">
        <label form="url">URL:</label>
        <input type="text" id="url" name="url"><br><br>
        <input type="submit" value="Submit">
        <!-- <input type="submit" value="Save Report" formaction="/reports"> -->
      </form>
      <form action='/save_report' id="save_report">
        <input type="submit" value="Save Report">
      </form>

      <!-- <form id="xss">
        URL: <input type="text" name="url">
      </form> -->
    



    <!-- <div>
      <input type="text" id="input1" />
      <button onclick="myJsFunction()"></button>
      <script type="text/javascript">
      function myJsFunction(){
          var text=document.getElementById('input1').value;
      }
      </script>
    </div> -->

    <!-- <div id='xss'> -->

      
  <div class="w-50 panel panel-default justify-content-center"" id='xss'>
    <table id="table" class="table table-dark" style="display:none">
      <tr><th>URL</th><td id="vuln_url">None</td></tr>
      <tr><th>Is Vulnerable</th><td id="is_vulnerable">None</td></tr>
      <tr><th>Successful Payload</th><td id="exploit">None</td></tr>
      <tr><th>Vulnerable Field Name Tag</th><td id="vuln_field">None</td></tr>
      <tr><th>Vulnerable Form Type</th><td id="vuln_form_type">None</td></tr>
      <tr><th>Method</th><td id="method">Get</td></tr>

      <!-- <tr><th>filed name</th><td id="field_name">data</td></tr> -->

  </table>
  </div>

  <div id="notvuln" style="display:none">
    <h3>Not Vulnerable to XSS</h3>
  </div>



  

  <!-- </div> -->

  <div class="w-25 panel panel-default justify-content-center float-right"" id='ping'>
    <table id="table table-curved" class="table table-dark">
      <thead>
      <tr>
          <th scope="col">Time</th>
          <th scope="col">IP</th>
      </tr>
    </thead>
    <tbody id="table_body">
    </tbody>
  </table>
  </div>


  <div id="logout">
    <form action='/logout'>
        <p>
        <input type="submit" name="logout" value="log out" >
        </p>
    </form>
  </div>

  <div id='root'>
    
  </div>
  {% endblock %}


  