{% extends 'base.html' %}
{% block title %}Movie Ratings Home{% endblock %}

{% block body %}
  <title>Dashboard</title>



    <h1>Dashboard</h1>

    

      <form id= "url_form">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url"><br><br>
        <input type="submit" value="Submit">
      </form>

      <!-- <form id="xss">
        URL: <input type="text" name="url">
      </form> -->
    



    <!-- <div>
      <input type="text" id="input1" />
      <button onclick="myJsFunction()"></button>
      <script type="text/javascript">
      function myJsFunction(){
          var text=document.getElementById('input1').value;
      }
      </script>
    </div> -->

  <div id='xss'>

  </div>

  <div class="w-25 panel panel-default justify-content-center"" id='ping'>
    <table id="table table-curved" class="table table-dark">
      <thead>
      <tr>
          <th scope="col">Time</th>
          <th scope="col">IP</th>
      </tr>
    </thead>
    <tbody id="table_body">
    </tbody>
  </table>
  </div>
  <div id='root'>
    
  </div>
  {% endblock %}


  