{% extends 'base.html' %}
{% block title %}Hackers Toolkit{% endblock %}

{% block body %}
<div class="container h-80">
    <div class="row align-items-center h-100">
        <div class="col-3 mx-auto">
            <div class="text-center">
                <img id="profile-img" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form  class="form-signin" action="/login" method="POST">
                    
                    
                    <input type="email" name="email" id="inputEmail" class="form-control form-group" placeholder="email" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control form-group" placeholder="password" required autofocus>

                    <button class="btn btn-lg btn-primary btn-block btn-signin" id="enter" type="submit">enter</button>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" id="register" type="submit" formaction="/users">register</button>

                </form><!-- /form -->
                <ul>
                    {% for message in get_flashed_messages() %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                  
            </div>
        </div>
    </div>
    </div>

<!-- 
    <h2>Create an Account</h2>
    <form action="/users" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>
  
      <p>
        Password <input type="password" name="password">
      </p>
  
      <p>
        <input type="submit">
      </p>
    </form> -->



  {% endblock %}